*.pyc
*.sqlite3
www/static
maores/whoosh_index/*
venv/*
*.DS_Store

# Research files
*.ipynb
research/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
