BeautifulSoup==3.2.1
cycler==0.10.0
DateTime==4.1.1
dj-database-url==0.4.1
Django==1.10.3
django-allauth==0.28.0
django-autocomplete-light==3.2.1
django-el-pagination==3.0.1
django-extensions==1.7.5
django-haystack==2.5.1
numpy==1.11.2
oauthlib==2.0.0
pyparsing==2.1.10
python-dateutil==2.5.3
python-openid==2.2.5
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
tqdm==4.4.3
whoosh==2.7.4
zope.interface==4.3.2
psycopg2==2.7.3.2
