{% extends "base.html" %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">
  <h2 class="light"> About </h1>
  <div class="divider"></div>

  <h3> FAMAT </h3>

  <p>Mu Alpha Theta describes their purpose on their <a href="http://www.mualphatheta.org/index.php?about-us" class="teal-text">website</a>,</p>

  <blockquote>
    Mu Alpha Theta is the National High School and Two-Year College Mathematics Honor Society with over 113,500 student members in June 2016 in more than 2300 schools. We are dedicated to inspiring keen interest in mathematics, developing strong scholarship in the subject, and promoting the enjoyment of mathematics in high school and two-year college students. 
  </blockquote>

  <p>The Florida Association of Mu Alpha Theta (FAMAT) hosts multiple regional and invite competitions to further the goals of Mu Alpha Theta.</p>

  <h3> FAMAT Visualizer </h3>

  This project was born out of the desire to better aggregate and visualize the results of FAMAT competitions.

  <h3> The Team </h3>

  <div class="row">
    <div class="col s8 m4 l3 center-on-small-only">
      <div class="image-container">
        <img src="{% static 'img/fernando.png' %}" style="width:50%">
      </div>
    </div>
    <div class="col s12 m8 l9">
      <h4>Fernando Rivera</h4>
      <p>Fernando is a rising freshman at the University of Florida where he will major in Computer Science. During high school at American Heritage Plantation, he participated in Mu Alpha Theta, Science Bowl, and Linguistics. His favorite field of study is primarily in Computer Science along with Statistics. He also enjoys playing Ultimate and tennis in his spare time.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s8 m4 l3 center-on-small-only">
      <div class="image-container">
        <img src="{% static 'img/awesomemath.png' %}" style="width:52%">
      </div>
    </div>
    <div class="col s12 m8 l9">
      <h4>AwesomeMath</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <h3> Thanks To </h3>

  <ul class="browser-default">
    <li> Francisco Rivera for his technical advice and guidance.</li>
  </ul>

    <ul class="browser-default">
    <li> AwesomeMath for their partnership and the sponsoring of this website.</li>
  </ul>

</div>
{% endblock %}
