<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}

<title>{% block title %}{% endblock %}</title>

<link rel='shortcut icon' href="{% static 'results/img/favicon.ico'%}" type='image/x-icon'/ >

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- JQuery -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type='text/javascript' src="{% static 'results/js/jquery.filtertable.min.js' %}"></script>
<!-- <script type='text/javascript' src="{% static 'results/js/jquery.truncatetable.js'%}"></script> -->

<!-- Material Design fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" type="text/css" href="{% static 'results/css/bootstrap-material-design.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'results/css/ripples.min.css' %}">
<script type='text/javascript' src="{% static 'results/js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'results/js/material.min.js' %}"></script>
<script type='text/javascript' src="{% static 'results/js/ripples.min.js' %}"></script>


<script src="https://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'results/css/d3.css'%}">
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>



<style>
body{
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.well{
    background-color: white;
    margin-left: 5px;
    margin-right:5px;
}
</style>

</head>

<body>


 <div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MAO Visualizer</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li {% block navhome %}{% endblock %}><a href="/">Home</a></li>
        <li {% block navmathletes %}{% endblock %}><a href="/mathletes/">Mathletes</a></li>
        <li {% block navcompetitions %}{% endblock %}><a href="/competitions/">Competitions</a></li>
        <li {% block navschools %}{% endblock %}><a href="/schools/">Schools</a></li>
      </ul>
      <form name="Search" id="Search" method="get" action="/search/" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" name="q" class="form-control col-md-8" {% block navsearch %}placeholder="Search"{% endblock %}>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="/" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.first_name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/profile/">Profile</a></li>
            <li class="divider"></li>
            <li><a href="/accounts/logout/">Log Out?</a></li>
          </ul>
        </li>
        {% else %}<li><a href="/accounts/login/">Login</a>{% endif %}</li>
      </ul>
    </div>
  </div>
</div> 

<!--
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:void(0)">Active</a></li>
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="javascript:void(0)">Separated link</a></li>
            <li><a href="javascript:void(0)">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div> -->

{% block content %}
Here goes the content
{% endblock %}
<div align="right">
{{loadtime}}
</div>

<script> $.material.init()</script>
</body>
</html>
