{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} ({{ bowl.division }}) Bowl
{% endblock %}

{% block navcompetitions %}class="active"{% endblock %}

{% block navbar %}
<div class="navbar-fixed">
  <nav>
    <div class="row teal">
      <div class="col s12">
        <a href="/competitions" class="breadcrumb">Competitions</a>
        <a href="/competitions/#{{ competition.date.year }}" class="breadcrumb">{{ competition.date.year }}</a>
        <a href="{{ competition.get_absolute_url }}" class="breadcrumb">{{ competition.name }}</a>
        <a href="#!" class="breadcrumb">{{ bowl.division}} Bowl</a>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}

<div class="container">
<h1 class="light"> {{ competition }} {{ bowl.division }} Bowl  </h1>


<div class="input-field col s12 m8 l6">
  <input id="searchtable" type="text">
  <label for="searchtable">Filter by school</label>
</div>

<table class="bordered highlight">
    <thead>
    <tr>
        <th> Rank </th>
        <th> School </th>
        <th> Total Score </th>
        <th> T-Score </th>
        <th> Indiv1</th>
        <th> Indiv2</th>
        <th> Indiv3</th>
        <th> Indiv4</th>
        <th> Bowl </th>
    </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
        <td> {{ team.place }} </td>
        <td> {{ team.school }} {% if team.number != 1 %} (Team {{ team.number }} ){% endif %} </td>
        <td> {{ team.total_score }} </td>
        <td> {{ team.t_score|floatformat:3 }} </td>
        {% for paper in team.indivs.all %}
        <td> {{ paper.score }} </td>
        {% endfor %}
        {% if team.indivs.all|length_is:"0"%}
        <td></td><td></td><td></td><td></td>
        {% elif team.indivs.all|length_is:"1"%}
        <td></td><td></td><td></td>
        {% elif team.indivs.all|length_is:"2" %}
        <td></td><td></td>
        {% elif team.indivs.all|length_is:"3" %}
        <td></td>
        {% endif %}
        <td> {{ team.score }} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>
$(document).ready(function(){
    $('table').filterTable({
        inputSelector : '#searchtable',
        callback: function(term, table) {
            table.find('tr').removeClass('striped').filter(':visible:even').addClass('striped');
        }
    });
});
</script>
</div>
{% endblock %}
