{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} ({{ bowl.division }}) Bowl
{% endblock %}

{% block navcompetitions %}class="active"{% endblock %}

{% block content %}

<h1> <a href="{{ competition.get_absolute_url }}">{{ competition }}</a>: {{ bowl.division }} Bowl  </h1>

<div class="well">

<h2>Results</h2>

<div class="form-group label-floating">
  <label class="control-label" for="searchtable">Search by name or school.</label>
  <input class="form-control" id="searchtable" type="text">
</div>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th> Rank </th>
        <th> School </th>
        <th> Total Score </th>
        <th> T-Score </th>
        <th> Indiv1</th>
        <th> Indiv2</th>
        <th> Indiv3</th>
        <th> Indiv4</th>
        <th> Bowl </th>
    </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
        <td> {{ team.place }} </td>
        <td> {{ team.school }} {% if team.number != 1 %} (Team {{ team.number }} ){% endif %} </td>
        <td> {{ team.total_score }} </td>
        <td> {{ team.t_score|floatformat:3 }} </td>
        {% for paper in team.indivs.all %}
        <td> {{ paper.score }} </td>
        {% endfor %}
        {% if team.indivs.all|length_is:"1"%}
        <td></td><td></td><td></td>
        {% elif team.indivs.all|length_is:"2" %}
        <td></td><td></td>
        {% elif team.indivs.all|length_is:"3" %}
        <td></td>
        {% endif %}
        <td> {{ team.score }} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>


<script>
$(document).ready(function(){
    $('table').filterTable({
        inputSelector : '#searchtable',
        callback: function(term, table) {
            table.find('tr').removeClass('striped').filter(':visible:even').addClass('striped');
        }
    });
});
</script>
{% endblock %}
