{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} 
{% endblock %}

{% block navcompetitions %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <h2 class="light"> {{ competition }} </h2>

    <table class="bordered highlight">
        <thead>
        <tr>
            <th> Division </th>
            <th> Average </th>
            <th> Standard Deviation </th>
            <th> Placing Score </th>
        </tr>
        </thead>
        <tbody>
        {% for test in tests %}
        <tr>
            <td> <a href="{{ test.get_absolute_url }}" class="teal-text">{{ test.division }}</a> </td>
            <td> {{ test.average|floatformat:2 }} </td>
            <td> {{ test.std|floatformat:2 }} </td>
            <td> {{ test.placing|floatformat:0 }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
