{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Competitions
{% endblock %}

{% block navcompetitions %}class="active"{% endblock %}

{% block content %}
<div class="container">

<div class="row">
  <div class="col l9 m9 s12">
    <h1 class="light hide-on-small-only"> Competitions </h1>
    <h3 class="light hide-on-med-and-up"> Competitions </h3>
    <div class="divider"></div>

    {% for year, competitions in dict.items %}
    <div id="{{year}}" class="section scrollspy">
        <h2 class="hide-on-small-only"> {{ year }} </h2>
        <h4 class="hide-on-med-and-up"> {{ year }} </h2>

    <ul class="collapsible popout" data-collapsible="accordion">
      {% for comp in competitions %}
        <li>
          <div class="collapsible-header">{{ comp }}</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s12 m4 l4 center-align">
                <i class="large teal-text material-icons">person</i>
                <h5 class="teal-text">Indivs</h5>
                <div class="collection">
                {% for test in comp.test_set.all %}
                  <a href="{{ test.get_absolute_url }}" target="_blank" class="collection-item black-text">{{ test.division }}</a>
                {% endfor %}
                </div>
              </div>
              <div class="col s12 m4 l4  center-align">
                <i class="large teal-text material-icons">people</i>
                <h5 class="teal-text">Teams</h5>
                <div class="collection">
                  {% for bowl in comp.bowltest_set.all %}
                    <a href="{{bowl.get_absolute_url}}" target="_blank" class="collection-item black-text">{{ bowl.division }}</a>
                  {% endfor %}
                </div>
              </div>
              <div class="col s12 m4 l4 center-align">
                <i class="large teal-text material-icons">pie_chart</i>
                <h5 class="teal-text">Detail Reports</h5>
                <div class="collection">
                  {% for test in comp.test_set.all %}
                    <a href="{{test.get_absolute_url}}/detail" target="_blank" class="collection-item black-text">{{ test.division }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    </div>
    {% endfor %}
  </div>

  <div class="col hide-on-small-only m3 l3">
    <div class="toc-wrapper">
      <div style="height: 1px;">
        <ul class="section table-of-contents">
          {% for year, competitions in dict.items %}
            <li><a href="#{{year}}">{{year}} Competitions</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

</div>

<script>
$(document).ready(function(){
    $('.toc-wrapper').pushpin({
      top: 0,
      bottom: 10000,
      offset: 60
    });
    $('.scrollspy').scrollSpy();
  });
</script>
{% endblock %}
