{% extends "base.html" %}

{% load staticfiles %}

{% load el_pagination_tags %}

{% block title %}
Mathletes
{% endblock %}

{% block js %}
{{ block.super }}

<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
{% endblock %}

{% block navmathletes %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <h1 class="light"> Mathletes </h1>

    <div class="divider"></div>

    {% if has_mathletes %}

    <div class="well">
    <h2> Recent </h2>
    <ul>
    {% for mathlete in recents %}
    <li> mathlete </li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    <h2> Top Scorers </h2>

    <div class="endless_page_template">
    {% include "mathletes_page.html" %}
    </div>
</div>


</div>

<script>
$.endlessPaginate({
    paginateOnScroll: true,
    paginateOnScrollMargin: 400,
    paginateOnScrollChunkSize: 5,
});
</script>

{% endblock %}
