{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ mathlete.first_name }} {{ mathlete.last_name }}
{% endblock %}

{% block metablock %}
<meta name="Description" content="{{mathlete.description}}">
{% endblock %}

{% block navmathletes %}class="active"{% endblock %}

{% block content %}

<div class="container">
  <h1 class="light"> {{ mathlete.first_name }} {{ mathlete.last_name }} </h1>
  <h5 class="bold"> {{ mathlete.school }} {{mathlete.get_years_active_str|safe}} </h2>

  <div class="divider"></div>
  <div class="section">
  <h2> Results List </h2>

  <table class="bordered highlight">
      <thead>
      <tr>
          <th>Competition</th>
          <th> Division </th>
          <th> Place </th>
          <th> Score </th>
          <th class='un'> T-Score </th>
          {% if request.user.is_authenticated and "@ahschool.com" in request.user.email %}
          <th class='un'> S-Score </th>
          {% endif %}
          <th class='un'> Right </th>
          <th class='un'> Wrong </th>
          <th class='un'> Blank </th>
      </tr>
      </thead>
      <tbody>
      {% for paper in papers %}
      <tr>
          <td> <a href="{{ paper.test.get_absolute_url }}#{{ paper.mathlete.mao_id }}" class="teal-text">{{ paper.test.competition }}</a> </td>
          <td> {{ paper.test.division }} </td>
          <td> {{ paper.place }} </td>
          <td> {{ paper.score }} </td>
          <td class='un'> {{ paper.t_score|floatformat:3 }} </td>
          {% if request.user.is_authenticated and "@ahschool.com" in request.user.email %}
          <td class='un'> {{ paper.s_score|floatformat:3 }} </td>
          {% endif %}
          <td class='un'> {{ paper.right }} </td>
          <td class='un'> {{ paper.wrong }} </td>
          <td class='un'> {{ paper.blank }} </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  </div>

  <div class='section'>
    <h2> Results Graph </h2>
    <div id="tscores"></div> 
  </div>
</div>



<script>
var chart = c3.generate({
  bindto: '#tscores',
  data: {
    url: "competition_scores.csv",
    type: "area",
    x: 'competition',
  },
  size: {
    height: 500
  },
  color: {
    pattern: ['#009688']
  },
  axis: {
    x: {
      type: "category",
      tick: {
        rotate: 75,
        multiline: false
      },
      padding: {right: .2}
    },
    y: {
      label: {
        text: "T-Score",
        position: "outer-middle"
      }
    }
  },
  legend: {
    show: false
  },
})
</script>


{% endblock %}
