{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ mathlete.mao_id }}
{% endblock %}

{% block navmathletes %}class="active"{% endblock %}

{% block content %}

<h1> {{ mathlete.first_name }} {{ mathlete.last_name }} ({{ mathlete.school }}) </h1>

<div class="well">
<h2> Results List </h2>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th> Competition </th>
        <th> Division </th>
        <th> Place </th>
        <th> Score </th>
        <th> T-Score </th>
        <th> Right </th>
        <th> Wrong </th>
        <th> Blank </th>
    </tr>
    </thead>
    <tbody>
    {% for paper in papers %}
    <tr>
        <td> <a href="{{ paper.test.get_absolute_url }}#{{ paper.mathlete.mao_id }}">{{ paper.test.competition }}</a> </td>
        <td> {{ paper.test.division }} </td>
        <td> {{ paper.place }} </td>
        <td> {{ paper.score }} </td>
        <td> {{ paper.t_score|floatformat:3 }} </td>
        <td> {{ paper.right }} </td>
        <td> {{ paper.wrong }} </td>
        <td> {{ paper.blank }} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<center> {{ fig1|safe }} </center>
</div>

<div class="well">
<h2> Handling Difficulty </h2>

<center> {{ fig2|safe }} </center>
</div>

<div class="well">
<h2> Histogram of Scores </h2>

<center> {{ fig3|safe }} </center>
</div>


{% endblock %}
