{% load el_pagination_tags %}

<!-- For use in table see https://github.com/frankban/django-endless-pagination/issues/54 -->

<table class="bordered highlight">
    <thead>
    <tr>
        <th> Name </th>
        <th> School </th>
        <th> Years </th>
        <th> Average T </th>
        <th> Num Tests </th>
    </tr>
    </thead>
    <tbody>

    {% paginate 40 mathletes %}

    {% for mathlete in mathletes %}

    <tr>
        <td> <a href="{{ mathlete.get_absolute_url }}" class="teal-text">{{ mathlete }}</a> </td>
        <td> {{ mathlete.school }} </td>
        <td> {{ mathlete.get_years_active_str|safe }} </td>
        <td> {{ mathlete.avg_t|floatformat:3 }} </td>
        <td> {{ mathlete.num_tests }} </td>
    </tr>

    {% endfor %}
    
    </tbody>
</table>

{% show_more "Load More" "Loading..." %}