{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
MAO Visualizer
{% endblock %}

{% block navmathletes %}class="active"{% endblock %}

{% block content %}

<div class="well">
<h2> Possible Mathletes</h2>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th> Name </th>
        <th> School </th>
        <th> Years Active </th>
    </tr>
    </thead>
    <tbody>
{% for mathlete in lst %}
    <tr>
        <td> <a href="{{ mathlete.get_absolute_url }}">{{ mathlete }}</a> </td>
        <td> {{ mathlete.school }} </td>
        <td> {{ mathlete.get_years_active_str|safe }} </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
