{% extends "base.html" %}

{% load staticfiles %}

{% load el_pagination_tags %}

{% block title %}
Mathletes
{% endblock %}

{% block js %}
{{ block.super }}

<script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
{% endblock %}

{% block navmathletes %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <h1 class="light"> Mathletes </h1>

    <div class="divider"></div>

    <p class="flow-text">If you're looking for the mathlete comparer tool,
    click <a href="compare" class="teal-text">here</a>.</p>

    <p class="flow-text">Look up a mathlete here and see his/her data
    (functionality for selecting more than one mathlete is currently under
    construction),</p>
    
    <form method="get" action="/mathletes/multiple">
    <div class="row">
    {% for field in form %}
      <div class="col s8">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <div class="col m4">
      <div class="center-align"> <button type="submit" class="btn teal">See mathlete report</div>
    </div>
    </div>
    </form>

    {% if has_mathletes %}

    <div class="well">
    <h2> Recent </h2>
    <ul>
    {% for mathlete in recents %}
    <li> mathlete </li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

    <h2> Top Scorers </h2>

    <div class="endless_page_template">
    {% include "mathletes_page.html" %}
    </div>
</div>


</div>

<script>
$.endlessPaginate({
    paginateOnScroll: true,
    paginateOnScrollMargin: 400,
    paginateOnScrollChunkSize: 5,
});
</script>

{{ form.media }}

{% endblock %}
