{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Multiple Mathletes
{% endblock %}

{% block metablock %}
<meta name="Description" content="An amalgamation of multiple mathletes">
{% endblock %}

{% block navmathletes %}class="active"{% endblock %}

{% block content %}

<div class="container">
  <h1 class="light">Multiple Mathletes </h1>

  <div class="divider"></div>

  <p class="flow-text">Pardon our dust!</p>
  
  <p class="flow-text">Functionality for viewing more than one
  mathlete at a time is currently in development. </p>

</div>


{% endblock %}
