{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
 {{ school }} 
{% endblock %}

{% block navschools %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <h1 class="light"> {{ school }} </h1>
    <div class="divider"></div>

    <h2> Mathletes </h2>

    <table class="bordered highlight">
        <thead>
        <tr>
            <th> Name </th>
            <th> Years </th>
            <th> Average T </th>
            <th> Num Tests </th>
        </tr>
        </thead>
        <tbody>

    {% for mathlete in mathletes %}
    <tr>
        <td> <a href="{{ mathlete.get_absolute_url }}" class="teal-text">{{ mathlete }}</a> </td>
        <td> {{ mathlete.get_years_active_str|safe }} </td>
        <td> {{ mathlete.avg_t|floatformat:3 }} </td>
        <td> {{ mathlete.num_tests }} </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
