{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}

{% block title %}
 {{ school }} 
{% endblock %}

{% block navschools %}class="active"{% endblock %}

{% block content %}

<div class="container">
    <h2 class="light"> {{ school }} </h2>
    <div class="divider"></div>

    <h3> Performance over time </h3>

    <div id="ranksovertime"></div>

    <h3> Division Performances </h3>

    <table class="striped">
        <thead>
        <tr>
            <th> Competition </th>
            <th> Rank </th>
            <th> Geo </th>
            <th> Alg II </th>
            <th> Precalc </th>
            <th> Stats </th>
            <th> Calc </th>
        </tr>
        </thead>
        <tbody>
    {% for sweep in sweeps %}
        <tr>
        <td> <a href="{{ sweep.competition.get_sweeps_url }}" class="teal-text">{{ sweep.competition }}</a> </td>
        <td> {{ sweep.rank|ordinal }} </td>
        <td> {{ sweep.geo.place|ordinal }} </td>
        <td> {{ sweep.algii.place|ordinal }} </td>
        <td> {{ sweep.precalc.place|ordinal }} </td>
        <td> {{ sweep.stats.place|ordinal }} </td>
        <td> {{ sweep.calc.place|ordinal }} </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    <h3> Top 5 Mathletes </h3>

    <table class="bordered highlight">
        <thead>
        <tr>
            <th> Name </th>
            <th> Years </th>
            <th> Average T </th>
            <th> Num Tests </th>
        </tr>
        </thead>
        <tbody>

    {% for mathlete in mathletes %}
    <tr>
        <td> <a href="{{ mathlete.get_absolute_url }}" class="teal-text">{{ mathlete }}</a> </td>
        <td> {{ mathlete.get_years_active_str|safe }} </td>
        <td> {{ mathlete.avg_t|floatformat:3 }} </td>
        <td> {{ mathlete.num_tests }} </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

</div>

<script>
var chart = c3.generate({
  bindto: "#ranksovertime",
  data: {
    url: "sweeps.csv",
    type: "line",
    x: 'Competition',
    hide: 'TotalT',
    axes: {
      Rank: 'y',
      TotalT: 'y2',
    }
  },
  size: {
    height: 500
  },
  color: {
    pattern: ['#009688', '#E53935']
  },
  axis: {
    x: {
      type: "category",
      tick: {
        rotate: 75,
        multiline: false,
      }
    },
    y: {
      text: "Rank",
      position: "outer-middle",
      inverted: true,
      label: 'Rank',
      min: 1,
      padding: {bottom: 5},
    },
    y2: {
      show: true,
      label: "Total T-Score"
    }
  }
})
</script>

{% endblock %}
