{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
 Schools 
{% endblock %}

{% block navschools %} class="active"{% endblock %}

{% block content %}


  
  <div class="row">

    <div class="col s12 m8 l8">
    <div class="container">
    <h1 class="light"> Schools </h1>
      <div class="row">
      {% for school in important_schools %}
        <div class="col s12 m6 l6">
          <a href="{{school.get_absolute_url}}"><div class="card-panel blue-grey lighten-5" style="height:80px">
            <span class="teal-text"> {{ school }} </span>
          </div></a>
        </div>
      {% endfor%}
      </div>
    </div>
    </div>
    <div class="col hide-on-small-only m4 l4">
      <div class="toc-wrapper">
          <ul class="section table-of-contents">
            {% for school in schools %}
              <li><a href="{{school.get_absolute_url}}">{{school}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
