{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ competition }} Sweepstakes {% endblock %}

{% block navbar %}
<div class="navbar-fixed">
  <nav>
    <div class="row teal">
      <div class="col s12">
        <a href="/competitions" class="breadcrumb">Competitions</a>
        <a href="/competitions/#{{ competition.date.year }}" class="breadcrumb">{{ competition.date.year }}</a>
        <a href="{{ competition.get_absolute_url }}" class="breadcrumb">{{ competition.name }}</a>
        <a href="{{ competition.get_absolute_url }}sweepstakes.html" class="breadcrumb"> Sweepstakes </a>
      </div>
    </div>
  </nav>
</div>
{% endblock %}


{% block content %}

<div class="container">
    <h2 class="light">{{ competition }} Sweepstakes </h2>

    {% if competition.category == "States" %}
      <p class="flow-text">Unfortunately, full Sweepstakes functionality for staticfilestes is not yet functional. Pardon our dust! </p>
    {% endif %}

    <table class="bordered highlight">
    <thead>
      <tr>
        <td> Rank </td>
        <td>School</td>
        {% for div in divisions %} <td> {{ div }} </td> {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for res in results %}
        <tr>
          <td> {{ forloop.counter }} </td>
          {% for cell in res %}
            {% if forloop.first %}
            <td> {{ cell }} </td>
            {% else %}
            <td> {{ cell|floatformat:4 }} </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}