{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} ({{ test.division }})
{% endblock %}

{% block navbar %}
<div class="navbar-fixed">
  <nav>
    <div class="row teal">
      <div class="col s12">
        <a href="/competitions" class="breadcrumb">Competitions</a>
        <a href="/competitions/#{{ competition.date.year }}" class="breadcrumb">{{ competition.date.year }}</a>
        <a href="{{ competition.get_absolute_url }}" class="breadcrumb">{{ competition.name }}</a>
        <a href="#!" class="breadcrumb">{{ test.division}} Indiv</a>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
  <div class="col s12 m12 l11">
  <!-- <div class="container"> -->
    <h3 class="light"> {{ competition }} {{ test.division }} Indiv</h3>
    <div class="row">
      <div class="input-field col s12 m8 l6">
          <input id="searchtable" type="text">
          <label for="searchtable">Filter by name or school</label>
      </div>
      </div>
    <table class="bordered highlight">
        <thead>
        <tr>
            <th class="rank-item"> Rank </th>
            <th class="school-item"> School </th>
            <th class="name-item"> Name </th>
            <th class="score-item"> Score </th>
            <th class='right-item'> Right </th>
            <th class='wrong-item'> Wrong </th>
            <th class='blank-item'> Blank </th>
            <th class='tscore-item'> T-Score </th>
            {% if request.user.is_authenticated and "@ahschool.com" in request.user.email %}
            <th class='sscore-item'> S-Score </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% include "test_rows.html" %}
        </tbody>
    </table>
  </div>
  <!-- </div> -->

  <div class="col l1 hide-on-med-and-down">
    <div class="container table-selector">
    <p"> Data Attributes</p>
    <div class="divider"></div>
    <form action="#">
      <p>
        <input type="checkbox" class="filled-in" id="rank-check-box" checked="checked" />
        <label for="rank-check-box">Rank</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="school-check-box" checked="checked" />
        <label for="school-check-box">School</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="name-check-box" checked="checked" />
        <label for="name-check-box">Name</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="score-check-box" checked="checked" />
        <label for="score-check-box">Score</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="right-check-box" checked="checked" />
        <label for="right-check-box">Right</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="wrong-check-box" checked="checked" />
        <label for="wrong-check-box">Wrong</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="blank-check-box" checked="checked" />
        <label for="blank-check-box">Blank</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" id="tscore-check-box" checked="checked" />
        <label for="tscore-check-box">T-Score</label>
      </p>
      {% if request.user.is_authenticated and "@ahschool.com" in request.user.email %}
      <p> Unique to Heritage </p>
      <div class="divider"></div>
      <p>
        <input type="checkbox" class="filled-in" id="sscore-check-box" checked="checked" />
        <label for="sscore-check-box">S-Score</label>
      </p>
      {% endif %}
    </form>
    </div>
  </div>
  </div>
</div>
</div>

<script>
$(document).ready(function(){

    $('table').filterTable({
        inputSelector : '#searchtable',
    });
    $('#rank-check-box').change(function(){
      $('.rank-item').toggle(this.checked)
    });
    $('#school-check-box').change(function(){
      $('.school-item').toggle(this.checked)
    });
    $('#name-check-box').change(function(){
      $('.name-item').toggle(this.checked)
    });
    $('#score-check-box').change(function(){
      $('.score-item').toggle(this.checked)
    });
    $('#right-check-box').change(function(){
      $('.right-item').toggle(this.checked)
    });
    $('#wrong-check-box').change(function(){
      $('.wrong-item').toggle(this.checked)
    });
    $('#blank-check-box').change(function(){
      $('.blank-item').toggle(this.checked)
    });
    $('#tscore-check-box').change(function(){
      $('.tscore-item').toggle(this.checked)
    });
    $('#sscore-check-box').change(function(){
      $('.sscore-item').toggle(this.checked)
    });

    $.ajax({url: "{{test.get_absolute_url|safe}}extra_rows", success: function(result) {
      $('tbody').append(result);
      $('.table-selector').pushpin({
        top: 0,
        bottom: $(document).height()-900,
        offset: ($(window).height() - $('.table-selector').height()) / 2.0
      });
    }})
});
</script>
{% endblock %}
