{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} 
{% endblock %}

{% block content %}

<h1> {{ request.user.first_name }} {{ request.user.last_name }} </h1>

{% if "@ahschool.com" in request.user.email %}

<div class="well">
<h2> AHS Special Functionality </h2>

<p> By logging in with your Heritage email, you unlock special website functionality. Check out&hellip; </p>

<ul>
    <li> S-Scores directly on results pages. Simply access them while logged in. </li>
    <li> the current tally of First=Food points <a href="/schools/5060/firstpoints">here.</a></li>
</ul>
</div>


{% endif %}

{% endblock %}