{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} 
{% endblock %}

{% block navschools %}class="active"{% endblock %}

{% block content %}

<div class="container">
<h1 class="light"> {{ school }} </h1>

<h2 class="thin"> {{ year }} First=Food Points </h1>

{% if papers %}

<div class="row">
    <div class="col l6 m6 s12">
        <h3>First Places</h3>

        <table class="bordered highlight">
            <thead>
            <tr>
                <th> Name </th>
                <th> Competition </th>
                <th> Division </th>
            </tr>
            </thead>

            <tbody>
            {% for paper in papers %}
            <tr>
                <td> <a href="{{ paper.mathlete.get_absolute_url }}" class="teal-text">{{ paper.mathlete }}</a> </td>
                <td> {{ paper.test.competition }} </td>
                <td> {{ paper.test.division }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col l6 m6 s12">
        <div class="container">
        <h3>Mathletes</h3>

        <table class="bordered highlight">
            <thead>
            <tr>
                <th> Name </th>
                <th> 1st Places </th>
            </tr>
            </thead>

            <tbody>
            {% for mathlete in mathletes %}
            <tr>
                <td> <a href="{{ mathlete.0.get_absolute_url }}" class="teal-text">{{ mathlete.0 }}</a> </td>
                <td> {{ mathlete.1 }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% else %}

<div class="well">
<p> Aww, looks like there aren't any first places this year.</p>
</div>

{% endif %}

  <ul class="pagination center-align">
    <li class="waves-effect"><a href="/schools/{{school.id_num}}/firstpoints/{{year|add:'-1'}}"><i class="material-icons">chevron_left</i></a></li>
    {% for y in years %}
    <li {% if y == year %}class="active teal waves-effect"{% else %}class="waves-effect"{% endif %}><a href="/schools/{{school.id_num}}/firstpoints/{{y}}">{{ y }}</a></li>
    {% endfor %}
    <li class="waves-effect"><a href="/schools/{{school.id_num}}/firstpoints/{{year|add:'1'}}"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>

{% endblock %}