{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
{{ competition }} 
{% endblock %}

{% block navschools %}class="active"{% endblock %}

{% block content %}

<div class="container">
  <h1 class="light"> {{ school }} </h1>

  <h2 class="thin"> {{ year }} Top S-Scores </h2>

  <table class="bordered highlight">
      <thead>
          <tr>
              <td> Name </td>
              <td> Division </td>
              {% for comp in competitions %}
              <td> {{ comp.name }} </td>
              {% endfor %}
              <td> Sum Top 3 </td>
          </tr>
      </thead>

      <tbody>
          {% for entry in entries %}
          <tr>
              <td> {{ entry.full_name }} </td>
              <td> {{ entry.div }} </td>
              {% for comp in entry.comps %}
                  <td> {% if comp %} {{ comp|floatformat:4 }} {% endif %}</td>
              {% endfor %}
              <td> {{ entry.top_3|floatformat:4 }} </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <ul class="pagination center-align">
    <li class="waves-effect"><a href="/schools/{{school.id_num}}/top-s-scores/{{year|add:'-1'}}"><i class="material-icons">chevron_left</i></a></li>
    {% for y in years %}
    <li {% if y == year %}class="active teal waves-effect"{% else %}class="waves-effect"{% endif %}><a href="/schools/{{school.id_num}}/top-s-scores/{{y}}">{{ y }}</a></li>
    {% endfor %}
    <li class="waves-effect"><a href="/schools/{{school.id_num}}/top-s-scores/{{year|add:'1'}}"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>

</div>

{% endblock %}